<%= react_component("BeltHeader", user: "#{current_user.username}") %>
<% if current_user.id.zero? %>
  <%= react_component("LoginForm") %>
  <p class="pos-r ta-c t-220"><%= @error_message %></p>
  <%= react_component("RegisterForm") %>
<% else %>
  <a class="pos-a r-8 t-42" href='<%= users_logout_path %>'>Logout</a>
  <%= react_component("Leaderboard", { top_users: @top_users, bottom_users: @bottom_users }) %>
<% end %>

