<%= react_component("BeltHeader") %>
<% unless current_user(session[:session_id]) %>
  <%= react_component("LoginForm") %>
  <p class="pos-r ta-c t-220"><%= @error_message %></p>
  <%= react_component("RegisterForm") %>
<% end %>
<%= session[:session_id] %>
